@mixin fontFace($fontFamily, $fontEndpoint) {
  $fontsPath: "~/fonts";

  @font-face {
    font-family: $fontFamily;
    src: url(#{$fontsPath}/#{$fontEndpoint});
  }
}

@mixin fontFamily($fontFamily, $fontWeight) {
  %#{$fontFamily} {
    font-family: $fontFamily;
    font-weight: $fontWeight;
  }
}

@mixin _CreateFont($fontFamily, $fontEndpoint, $fontWeight) {
  @include fontFace($fontFamily, $fontEndpoint);
  @include fontFamily($fontFamily, $fontWeight);
}

/*------- CREATE FONTS -------*/

@include _CreateFont("europeBold", "europe-bold.woff2", 900);
@include _CreateFont("europeNormal", "europedemi-normal.woff2", 400);
@include _CreateFont("europeLight", "europe-normal.woff2", 400);

/*------- FIXED PANELS FONTS -------*/
%FixedPanelsBold {
  @extend %europeBold;
  text-transform: uppercase;
  font-size: toRemMob(15);
  letter-spacing: toRemMob(-1);

  @include _desktop {
    font-size: toRem(25);
    letter-spacing: toRem(-1);
  }
}

%FixedPanelsLight {
  @extend %europeNormal;
  text-transform: uppercase;
  letter-spacing: toRem(-2.5);

  @include _desktop {
    font-size: toRem(25);
    letter-spacing: toRem(-2.5);
  }
}
/*------- HERO BLOCK FONTS -------*/
%RunningLine {
  @extend %europeBold;
  text-transform: uppercase;
  font-size: toRemMob(60);
  letter-spacing: toRemMob(-2);

  @include _desktop {
    font-size: toRem(120);
    letter-spacing: toRem(-1);
  }
}
