@mixin fontFace($fontFamily, $fontEndpoint) {
  $fontsPath: "~/fonts";

  @font-face {
    font-family: $fontFamily;
    src: url(#{$fontsPath}/#{$fontEndpoint});
  }
}

@mixin fontFamily($fontFamily, $fontWeight) {
  %#{$fontFamily} {
    font-family: $fontFamily;
    font-weight: $fontWeight;
  }
}

@mixin _CreateFont($fontFamily, $fontEndpoint, $fontWeight) {
  @include fontFace($fontFamily, $fontEndpoint);
  @include fontFamily($fontFamily, $fontWeight);
}

/*------- CREATE FONTS -------*/

@include _CreateFont("NeueBlack", "NeueHaasDisplayBlack.ttf", 900);
@include _CreateFont("NeueBold", "NeueHaasDisplayBold.ttf", 800);
@include _CreateFont("NeueMedium", "NeueHaasDisplayMedium.ttf", 700);
@include _CreateFont("NeueRoman", "NeueHaasDisplayRoman.ttf", 600);

%FixedPanelsBlack {
  @extend %NeueBlack;
  text-transform: uppercase;

  @include _desktop {
    font-size: toRem(25);
    letter-spacing: toRem(-1);
  }
}

%FixedPanelsMeduim {
  @extend %NeueMedium;
  text-transform: uppercase;

  @include _desktop {
    font-size: toRem(25);
    letter-spacing: toRem(-1);
  }
}
