@mixin fontFace($fontFamily, $fontEndpoint) {
  $fontsPath: "~/fonts";

  @font-face {
    font-family: $fontFamily;
    src: url(#{$fontsPath}/#{$fontEndpoint});
  }
}

@mixin fontFamily($fontFamily, $fontWeight) {
  %#{$fontFamily} {
    font-family: $fontFamily;
    font-weight: $fontWeight;
  }
}

@mixin _CreateFont($fontFamily, $fontEndpoint, $fontWeight) {
  @include fontFace($fontFamily, $fontEndpoint);
  @include fontFamily($fontFamily, $fontWeight);
}

/*------- CREATE FONTS -------*/

@include _CreateFont("europeBold", "europe-bold.woff2", 900);
@include _CreateFont("europeNormal", "europedemi-normal.woff2", 400);
@include _CreateFont("interRegular", "Inter-Regular.ttf", 400);