* {
  cursor: none;
  scrollbar-width: none;
}

body {
  background-color: $gray;
  box-sizing: border-box;

  height: 200vh;
}

.wrapper {
  overflow: hidden;
  color: $black;
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
