* {
  cursor: none;
}

body {
  background-color: $gray;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  color: $black;
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}
